go 1.26

use (
	./libs/broker
	./libs/broker-kafka
	./libs/cqrs
	./libs/cqrs-postgres
	./libs/eventstore
	./libs/eventstore-postgres
	./libs/kernel
	./libs/o11y
	./libs/projection
	./libs/projection-postgres
	./libs/relay
	./libs/saga
	./services/billing
	./services/contracts
	./services/inventory
	./services/ordering
	./services/shipping
)
